html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    display: flex;
    align-items: center; /* This will vertically align items if the image is taller than the text */
    justify-content: space-between; /* This will put space between the text and the image */
    padding: 0 100px; /* Padding on the sides of the container */
}

    .container p {
        margin-right: 20px; /* Provides space between the text and the image */
        flex: 1; /* Allows the text to fill the space available */
    }

    .container img {
        max-width: auto; /* 50% of the viewport width minus the padding */
        height: 225px; /* Maintain aspect ratio */
        margin-left: 20px; /* Provides space between the text and the image */
        flex: 0 0 auto; /* Image will not grow or shrink */
    }