@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joy of Flying</h1>
    <h3>Learn more about my aviation hobby below</h3>
</div>

<br />

<div class="container">
    <p>Ever since I was a kid, I'd look up at the sky whenever I heard a plane or helicopter fly by. Since then my passion for aviation
        has grown. In the 7th grade I job shadowed a student pilot at UVU and got to ride in an airplane for my first time and fly it!
        Then in high school I did ground schooling at UVU where I was able to fly two more planes.
    </p>
    <img src="img/IMG_1389_copy.jpeg" />
</div>

<div class="container">
    <img src="img/img_1782_copy.jpg" style="padding-right: 20px; padding-left: 0px;"/>
    <p style="padding-left: 20px; padding-right: 0px;">As a future certified flight instructor, I'll not only be able to teach you more
        about my hobby but actually help you to one day fly a plane yourself! By learning to fly with me, you'll not only pay less than if
        you did through a univeristy but have fun doing so! Click on the pricing tab above to learn how much it will cost.
    </p>
</div>
